
$theme: (
    defaultBg: $defaultBg,
    defaultBoderColor: $defaultBoderColor,
    defaultColor: $defaultColor,
    defaultFont: $defaultFont,
    defaultFontSize: $defaultFontSize,
    defaultLineHeight: $defaultLineHeight,
    diffAdd: $diffAdd,
    diffRemove: $diffRemove,
    diffAddText: $diffAddText,
    diffRemoveText: $diffRemoveText
);
