
$theme: (
    defaultFont: $defaultFont,
    defaultBg: $defaultBg,
    defaultColor: $defaultColor,
    defaultBoderColor: $defaultBoderColor,
    diffAdd: $diffAdd,
    diffRemove: $diffRemove,
    diffAddText: $diffAddText,
    diffRemoveText: $diffRemoveText
);
