
// Fonts
$sansSerif: sans serif


// Dimensions
$sidebarWidth: 210px
$commitlogWidth: 300px
$timelineHeight: 120px


// Colors
$white: #FFF
$black: #000


// Theme Variable defaults
$defaultFont: $sansSerif !default
$defaultBg: $white !default
$defaultColor: $black !default
$defaultBoderColor: $black !default
