.one-file
    border: 1px solid theme(defaultBoderColor)
    .file-header
        border: 1px solid theme(defaultBoderColor)
        word-break: break-all
    .file-diff-container
        border: 1px solid theme(defaultBoderColor)

.row-diff
    margin: 0px

.green-diff
    background: theme(diffAdd)
    color: theme(diffAddText)

.red-diff
    background: theme(diffRemove)
    color: theme(diffRemoveText)
