
$theme: (
    // Custom Scrollbars
    scrollbarButton: $scrollbarButton,
    scrollbarThumb: $scrollbarThumb,
    scrollbarThumbBorder: $scrollbarThumbBorder,
    scrollbarTrack: $scrollbarTrack,
    scrollbarTrackPiece: $scrollbarTrackPiece,
    scrollbarCorner: $scrollbarCorner,

    // Default global values
    defaultBg: $defaultBg,
    defaultBoderColor: $defaultBoderColor,
    defaultColor: $defaultColor,
    defaultFont: $defaultFont,
    defaultFontSize: $defaultFontSize,
    defaultLineHeight: $defaultLineHeight,
    defaultLinkColor: $defaultLinkColor,

    // Sidebar
    repoListBackground: $repoListBackground,

    // Timeline
    timeLineBackground: $timeLineBackground,
    timeLineText: $timeLineText,

    // File Diff
    diffAdd: $diffAdd,
    diffRemove: $diffRemove,
    diffAddText: $diffAddText,
    diffRemoveText: $diffRemoveText,

    // Alert
    alertBackground: $alertBackground,
    errorAccent: $errorAccent
);
