
// Low contrast, dim, easy on the eyes late at night with the lights off

.dark-mode
    @import '../_var.sass'

    $scrollbarButton: #9F9F9F
    $scrollbarThumb: #767676
    $scrollbarThumbBorder: #767676
    $scrollbarTrack: #5D5D5D
    $scrollbarTrackPiece: #555
    $scrollbarCorner: #383838

    $defaultBg: #333
    $defaultColor: #CCC
    $defaultBoderColor: #999
    $defaultLinkColor: #FFF

    $repoListBackground: #444

    $diffAdd: #132
    $diffRemove: #331A11
    $diffAddText: #5A5
    $diffRemoveText: #C66

    @import '../_master.sass'
