
// Light Mode - Professional looking

.light-mode
    @import '../_var.sass'

    $defaultBg: $white
    $defaultColor: #112
    $defaultBoderColor: #445
    $defaultLinkColor: #AAF

    @import '../_master.sass'
