*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #FFF;
  color: #000;
  font-family: sans serif;
}

pre {
  white-space: pre-wrap;
}

.app-container {
  display: flex;
  height: 100%;
}

.app-container main {
  width: calc(100% - 210px);
  transition: 0.4s ease all;
}

.sidebar {
  width: 210px;
  height: 100%;
  overflow: hidden;
  transition: 0.4s ease all;
}

.sidebar.collapse {
  width: 0px;
}

.sidebar.collapse + main {
  width: 100%;
}

.timeline {
  width: 100%;
  height: 120px;
}

.commit-diff-container {
  height: calc(100% - 120px);
}

.commitlog,
.filediff {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.commitlog {
  width: 300px;
}

.filediff {
  width: calc(100% - 300px);
}

.one-file {
  border: 1px solid #000;
}

.one-file .file-header {
  border: 1px solid #000;
}

.one-file .file-diff-container {
  border: 1px solid #000;
}

.repos-list {
  border: 1px solid #000;
}

.sidebar {
  border: 1px solid #000;
}

.timeline {
  border: 1px solid #000;
}

.commitlog {
  border: 1px solid #000;
}

.filediff {
  border: 1px solid #000;
}
