*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
  font-size: 16px;
  overflow: hidden;
}

body {
  background: var(--bg);
  font-family: var(--sans-serif);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.5s, background-color 0.5s;
}

button {
  background-color: var(--button);
  border: var(--unfocus-ring);
  padding: 10px;
  color: var(--text);
  font-family: var(--sans-serif);
  font-size: 16px;
}
button:hover,
button:focus {
  background-color: var(--button-hover);
}
button[disabled] {
  opacity: 0.5;
}
button:focus {
  border: var(--focus-ring);
  outline: none;
}


input,
select,
textarea {
  background: var(--input);
  border: var(--unfocus-ring);
  padding: 10px;
  color: var(--text);
  font-family: var(--sans-serif);
  font-size: 16px;
}
input:focus,
select:focus,
textarea:focus {
  border: var(--focus-ring);
  outline: none;
}

input[type="range"]{
  -webkit-appearance: none;
  background: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 3px;
  background: var(--text);
  border: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  background: var(--accent);
  margin-top: -5px;
}
input[type="range"]:focus {
  background: var(--white08);
  border: var(--unfocus-ring);
  outline: none;
}

pre {
  margin: 0px;
  font-size: 14px;
}
code {
  background: var(--black66);
  border-radius: 4px;
  padding: 0px 4px 2px 4px;
}

a {
  border: var(--unfocus-ring);
  color: var(--link);
}
a:focus {
  border: var(--focus-ring);
  outline: none;
}

li {
  line-height: 1.4;
}
