:root {
  --sidebar-transition: 750ms;

  --sans-serif: 'Work Sans', sans-serif;

  --commit-log-width: 350px;
  --file-count-width: 44px;
  --sidebar-width: 233px;
  --timeline-height: 135px;

  --bg: #1A222D;
  --button: #03080C;
  --button-hover: #1B1F2C;
  --button-active: #ABF2;
  --button-active-hover: #ABF3;
  --input: #161F27;
  --text: #D1CDC7;
  --link: #8D41FF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
  font-size: 16px;
  overflow: hidden;
}

body {
  background: var(--bg);
  font-family: var(--sans-serif);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.5s, background-color 0.5s;
}

button {
  background-color: var(--button);
  border: 0px;
  padding: 10px;
  color: var(--text);
  font-family: var(--sans-serif);
  font-size: 16px;
}
button:hover,
button:focus {
  background-color: var(--button-hover);
}
button[disabled] {
  opacity: 0.5;
}

input,
select,
textarea {
  background: var(--input);
  border: 0px;
  padding: 10px;
  color: var(--text);
  font-family: var(--sans-serif);
  font-size: 16px;
}

pre {
  margin: 0px;
  font-size: 14px;
}

a {
  color: var(--link);
}
